@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

.skill {
  height: 70px;
  width: 70px;
  background-size: cover;
}
.react {
  background-image: url('../assets/react.png');
}
.javascript {
  background-image: url('../assets/javascript.png');
}
.html {
  background-image: url('../assets/html.png');
}
.css {
  background-image: url('../assets/css.png');
}
.react-bootstrap {
  background-image: url('../assets/react-bootstrap.png');
}
.mapbox {
  background-image: url('../assets/mapbox.png');
}
.sass {
  background-image: url('../assets/sass.png');
}
.bulma {
  background-image: url('../assets/bulma-logo.png');
  width: 275px;
}
.express {
  background-image: url('../assets/express.png');
}
.node {
  background-image: url('../assets/node.png');
}
.python {
  background-image: url('../assets/python.png');
}
.mongoose {
  background-image: url('../assets/mongoose.webp');
  width: 100px;
}
.django {
  background-image: url('../assets/django.png');
}
.ruby {
  background-image: url('../assets/ruby.png');
}
.mongodb {
  background-image: url('../assets/mongodb.png');
}
.postgresql {
  background-image: url('../assets/postgresql.png');
}
.insomnia {
  background-image: url('../assets/insomnia.png');
}
.tableplus {
  background-image: url('../assets/tableplus.png');
}
.sql {
  background-image: url('../assets/sql.webp');
}
.github {
  background-image: url('../assets/github.png');
}
.netlify {
  background-image: url('../assets/netlify.png');
}
.heroku {
  background-image: url('../assets/heroku.png');
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
li {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
}
h1, h2 {
  text-align: center;
  margin: 30px;
}
body {
  background-color:#F2CE8A;
  font-family: 'Mulish', sans-serif;
}
.linkedin {
  background-image: url('../assets/linkedin.png');
}
.twitter {
  background-image: url('../assets/twitter.png');
}
.email {
  background-image: url('../assets/email.png');
}
.contact {
  height: 50px;
  width: 50px;
  background-size: cover;
  margin: 20px;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#navbar {
  background-color: #F7934B;
  display: flex;
  justify-content: center;
}
.nav-link {
  a {
  color: #4E3133;
  font-weight: 700;
  }
}